@using AppointmentScheduleSystem.ViewModels
@using AppointmentScheduleSystem.Data.Enum
@model CreateScheduleViewModel

@{
}

<body>
    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-text">
                        <h2>Create Meeting</h2>
                        <div class="div-dec"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-us-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h6>make your meeting</h6>
                        <h4>Fill all required fields</h4>
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-1">
                    <form id="contact" asp-action="create" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset>
                                    <input asp-for="Title" type="text" placeholder="Meeting Title..." required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <input asp-for="Description" type="text" placeholder="Meeting Description...">
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <input asp-for="Cabinet" type="text" placeholder="Meeting Cabinet..." required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input asp-for="Date.Day" type="text" placeholder="Day..." required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <select asp-for="Date.Month" asp-items="@Html.GetEnumSelectList<Months>()">
                                                <option>Month...</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input asp-for="Date.Year" type="text" placeholder="Year..." required="">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <input asp-for="Time" type="text" placeholder="Time..." required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="orange-button">Submit</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="white-section"></section>
</body>