@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="swiper-container" id="top">
        <div class="slide-inner" style="background-image:url(assets/images/home-page-2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="header-text">
                            <h2>Make <em>your</em> own <br /><em>Appointment</em> Schedule</h2>
                            <div class="div-dec"></div>
                            <p>This appointment schedule solves the problem of late employees. <br />It has some features to make your staff come to meeting in a time</p>
                            <div class="buttons">
                                <div class="green-button">
                                    <a href="#">Get Started As Emploee</a>
                                </div>
                                <div class="orange-button">
                                    <a href="#">Get Started As Company</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>